.promo-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.image {
  height: auto !important;
}

#main ul.command-links {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }

  a {
    border-bottom: none;
  }
}

a {
  border-bottom: solid 1px;
  transition: 0.2s
}

a:hover {
  border-bottom-color: transparent;
  transition: 0.2s
}

#footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}